@media (min-width: 1px) and (max-width:5000px){
    .cas-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top:0;
        z-index: 99;
        overflow-y: auto;
    }
    .cas-body{
        width: 50%;
        height: 90%;
        overflow-y: auto;
        box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
        background-color: #fff;
        border-radius: 3%;
        padding: 4%;
        position: relative;
    }


    .Head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bi-bookmark-x:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
        border-radius: 10%;
    }

    .bd-foot{
        position: absolute;
        right: 40px;
        bottom: 20px;
    }

    .bi-plus-square:hover{
        cursor: pointer;
        box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
        color: red;
        border-radius: 15%;
        position: relative;
    }

    .icon-wrapper{
        position: relative;
    }

    .popup-box {
        width: 80%;
        height: 220px;
        position: absolute;
        top: 35px; /* ระยะห่างจากไอคอน */
        left: 0;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 10px;
        z-index: 1000;
        overflow-y: auto;
    }

    .tagsdetail{
        word-wrap: break-word;
        width: 100%;
        background-color:#fff;

    }

    .tag-list{
        display: inline-block;
        padding: 5px;
        background-color: rgba(0,0,0,0.1);
        border-radius: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .bi-x-lg:hover{
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
        border-radius: 10px;
    }
}